body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

.title {
  display: flex;
  position: absolute;
}

.app {
  padding: 50px;
  padding-top: 20px;
  height: 100vh;
  background-color: #0db9a1;
  background-size: cover;
  position: relative;
}

.main-features {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 100px;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.input {
  font-family: Nunito, sans-serif;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  outline: none;
  border-radius: 2rem;
  padding: 8px;
  border: 10px solid;
}

.add-button {
  width: 80%;
  cursor: pointer;
  outline: none;
  background-color: #007aff;
  border-radius: 1rem;
  border: solid black;
  color: white;
  margin: 2px;
}

.add-button:hover {
  background-color: #3498db;
}

.clear-button {
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: #ef476f;
  border-radius: 1rem;
  border: solid black;
  color: white;
  margin: 2px;
}

.clear-button:hover {
  background-color: #f17a96;
}

.note {
  position: absolute;
  cursor: pointer;
  background-size: cover;
  height: 200px;
  width: 200px;
  padding: 20px;
  box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4rem;
  border: 10px solid;
  border-color: black;
  z-index: 2;
}

.note-body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  height: 100%;
  white-space: pre-wrap;
  overflow-y: scroll;
  background-color: transparent;
  outline: none;
  border-color: transparent;
}

.delete {
  position: absolute;
  right: 15px;
}

.delete:hover {
  opacity: 0.5;
}

.note-form {
  height: 100%;
}

.form-colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.pallet {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.color {
  border: solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.color:hover {
  opacity: 0.5;
}

.white {
  background-color: white;
}

.red {
  background-color: #ef476f;
}

.blue {
  background-color: #007aff;
}

.yellow {
  background-color: #ffc145;
}
<<<<<<< HEAD
=======

.clear-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 75px;
}

.clear-canvas {
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: #ef476f;
  border-radius: 1rem;
  border: solid black;
  color: white;
  margin: 2px;
}

.clear-canvas:hover {
  background-color: #f17a96;
}

.add-features {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-picker {
  display: flex;
  border-radius: 1rem;
  border: solid black;
  width: 110px;
  padding-left: 45px;
  padding-right: 0px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  background-color: #007aff;
}

.file-picker:hover {
  background-color: #3498db;
}

.image-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 13.2px;
}

img {
  border-radius: 1rem;
}
>>>>>>> drawing
