.clear-canvas {
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: #ef476f;
  border-radius: 1rem;
  border: solid black;
  color: white;
  margin: 2px;
}

.clear-canvas:hover {
  background-color: #f17a96;
}
